<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bean scene</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Group_BeanBooking.styles.css" asp-append-version="true" />
@*    @RenderSection("scripts", required: false) *@

    @*The required:false setting in @RenderSection directive will make the script section in the content views optional. Set it to true to make it mandatory.*@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm border-bottom mb-3" >
            <div class="container-fluid">
                @if (User.IsInRole("Customer"))
                {
                    <a class="navbar-brand" asp-area="Customer" asp-controller="Bookings" asp-action="Index">
                        <img src="~/images/logo/logo-secondary-transparent.png" style="width: 160px" />
                    </a>
                }else if (User.IsInRole("Staff"))
                {
                    <a class="navbar-brand" asp-area="Staff" asp-controller="Bookings" asp-action="Index">
                        <img src="~/images/logo/logo-secondary-transparent.png" style="width: 160px" />
                    </a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo/logo-secondary-transparent.png"  style="width: 160px"/>
                    </a>
                }

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <li class="nav-item">
                                    @if (User.IsInRole("Customer"))
                                    {   
                                        <a class="nav-link text-white" asp-area="Customers" asp-controller="Bookings" asp-action="Details">My Bookings
                                            <img src="~/Images/Icons/myBookings.png" style="width: 50px" />
                                        </a>
                                    } else
                                    {                                    
                                    }
                            </li>
                        </li>                        
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Group_BeanBooking - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
