.idea/
.vscode/
*.iml
.DS_Store
node_modules/
vendor/
/bin/
/obj/
/dist/
/build/
*.log
*.tmp
.env        # Environment variables
.env.local  # Local environment overrides
.env.*      # Environment-specific configuration
config/*.conf
*.sqlite
*.db
/generated/
/uploads/
/cache/
/temp/
*~
*.swp
*.vsidx
/.vs/Group_BeanBooking/FileContentIndex/055fec61-b6b6-4ae7-a250-3fe45530283e.vsidx
/.vs/Group_BeanBooking/FileContentIndex/2b928ba6-d71a-4967-b491-de39807be6a2.vsidx
/.vs/Group_BeanBooking/FileContentIndex/70343e1c-400f-4163-a329-2ae4c197773a.vsidx
/.vs/Group_BeanBooking/FileContentIndex/aadd6919-7673-46b7-af4f-fa78384da949.vsidx
/.vs/Group_BeanBooking/DesignTimeBuild/.dtbcache.v2
/.vs/Group_BeanBooking/FileContentIndex/17789fb7-0a4d-433e-9016-2de388d85a9c.vsidx
/.vs/Group_BeanBooking/FileContentIndex/3ae82af8-cb7b-4996-b10b-a36482c880d9.vsidx
/.vs/Group_BeanBooking/FileContentIndex/45e3c199-2ec7-478b-84bc-56564b382925.vsidx
/.vs/Group_BeanBooking/FileContentIndex/5e9f5e3c-08d9-47b1-a31e-f56fd95e3abb.vsidx
/.vs/Group_BeanBooking/FileContentIndex/656cea25-6c6d-4b27-99cd-23140148e511.vsidx
/.vs/Group_BeanBooking/FileContentIndex/6e3e05d3-a9e3-43de-9aec-a018ce28c351.vsidx
/.vs/Group_BeanBooking/FileContentIndex/716cfa2c-ef02-4744-a040-7ef7b2d8588b.vsidx
/.vs/Group_BeanBooking/FileContentIndex/dc7eadae-672f-4120-8c44-d2ddcfac4932.vsidx
/.vs/Group_BeanBooking/v17/.futdcache.v2
/.vs/Group_BeanBooking/v17/.suo
/.vs/ProjectEvaluation/group_beanbooking.metadata.v7.bin
/.vs/ProjectEvaluation/group_beanbooking.projects.v7.bin
/Group_BeanBooking.csproj
