@model Group_BeanBooking.Areas.Staff.Models.Bookings.LoadDetails;
<style>

    html, body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
    }

    #searchSection{ 
        max-width: 1100px;
        margin: 40px auto;
    }



</style>

@*<link href='/docs/dist/demo-to-codepen.css' rel='stylesheet' />*@

<div id="searchSection" class="container">
    <div id="searchSection" class="row">
        <div id="col_1" class="col">
            <div id="row 1" class="row row-cols-2">
                <div class="col">
                    <label>Restaurant:</label>
                    <select id="restaurantLocation" asp-for="RestaurantID" asp-items="@Model.RestaurantList" class="form-select">
                        <option itemid="0">**** Select One ****</option>
                    </select>
                    <br />
                    <div class="form-floating">
                        <input type="email" class="form-control" id="userEmail" placeholder="name@example.com">
                        <label id="emailIdSearch" for="floatingInput">Email address</label>
                    </div>
                </div>
                <div class="col">
                    <label>Booking Status:</label>
                    <select id="bookingStatus" asp-for="ReservationStatusId" asp-items="@Model.StatusesList" class="form-select">
                        <option itemid="0">**** Select One ****</option>
                    </select> <br />
                </div>
            </div>
            <div id="row_2" class="row">
            </div>
        </div>
        <div class="col-1 aling-content-around">
            <br />
            <button id="searchCustomer" class="btn"> 
                <img src="~/images/icons/search.png" style="width: 30px" />
            </button> 
            <br />
            <button id="clearButton" class="btn">
                <img src="~/images/icons/clear-filter.png" style="width: 30px" />
            </button>
        </div>
    </div>
</div>

<form>
    <body>
        <div id="calendar"></div>
    </body>
</form>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <h4 class="modal-title" id="bookingTitle">Modal title</h4>
      </div>
      <div class="modal-body">
        <div id="bookingInformation" class="container-fluid alert alert-primary">
            <div>
                <partial name="../bookings/modalcomponent.cshtml" /> 
            </div>
        </div >
        <div id="assingTableOption" class="container-fluid alert alert-primary">
            <lable>Assing table:</lable>
            <input id="assignTable" type="checkbox" />

            <div id="assignTableSection" class="container-fluid alert alert-primary" style="display: none">
                <partial name="../bookings/restauranttables.cshtml" />
            </div>

        </div>

      </div>
            <div id="UserAlert" class="" role="alert" style="display: none"></div>

      <div class="modal-footer">
        <button id="closeButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="submit" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div id="BookingDetails" style="display: none">
             

</div>



@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
    <script src="/js/staff/Details.js"></script>
    <script src="~/js/site.js"></script>
    <script src="/js/customers/customercreate.js"></script>
    <script src="/js/staff/sittingtables.js"></script>
}