@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Welcome to Staff area</h1>

<form>
    <div class="container">
        <div class="row bg-primary">
            <button class="col" asp-area="Staff" asp-controller="Bookings" asp-action="Details">Booking details</button>

            <button class="col">Person details</button>

            <button class="col">Sitting Details</button>

            <button class="col">Sitting areas Details</button>
        
        </div>
    </div>

</form>