

<div class="row">
    <div class="col-8">
        @*floor view*@
        <h4>Selected</h4>
        <div id="SelectedTables" class="alert alert-primary container-lg">
        </div>

    </div>

    @*remainder tables view*@
    <div class="col-4">
        @*floor view*@
        <h4>Available</h4>
        <div id="tablesInArea" class="alert alert-primary">
        </div>


    </div>

        <div id="UserAlert" class="" role="alert" style="display: none"></div>
</div>

@section Script{
    <script src="~\js\staff\sittingtables.js"></script>
    <script src="~\js\site.js"></script>
}
