

<div class="row">
    <div class="col-8">
        @*floor view*@
        <h4>Selected</h4>
        <div id="SelectedTables" class="alert alert-primary container-lg">
        </div>

    </div>

    @*remainder tables view*@
    <div class="col-4">
        @*floor view*@
        <h4>Tables</h4>
        <div id="tablesInArea" class="alert alert-primary">
        </div>

        <div class="row row-cols-2">
            <div class="col">
                <img src="~/images/icons/table-reserved.png" style="width: 40px" /> Reserved
            </div>
            <div class="col">
                <img src="~/images/icons/main-table.png" style="width: 40px" /> Available
            </div>
        </div>

    </div>

        <div id="UserAlert" class="" role="alert" style="display: none"></div>
</div>


@section Script{
    <script src="~\js\staff\sittingtables.js"></script>
    <script src="~\js\site.js"></script>
}
