

<div class="row">
    <div class="col-8">
        @*floor view*@
        <div class="alert alert-primary container-lg">
            <h1>hello</h1>
        </div>

    </div>

    @*remainder tables view*@
    <div class="col-4">
        @*floor view*@
        <div class="alert alert-primary">
           
        </div>

    </div>

</div>

@section Script{
    <script src="~\js\staff\sittingtables.js"></script>
    <script src="~\js\site.js"></script>
}
