@model Group_BeanBooking.Models.RestaurantList;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    
    

    <form method="post"> 
        <div>
           <label asp-for="RestaurantId">Restaturant</label><br />
            <select asp-for="RestaurantId" asp-items="@Model.RestList"
                class="form-select form-select-sm" aria-label="Small select example"></select> <br /><br />


            <input type="submit" value="Go" class="btn btn-primary" /> 
        </div>
    </form>

</div>
<div class="text-center">
@*<h1 class="display-4"><a  asp-area="Administration"  asp-controller="home" asp-action="Index">Admin</a></h1>*@

   

</div>





