@model Group_BeanBooking.Models.RestaurantList;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @foreach (var item in Model.RestList)
    {
        <div class="row mb-3">
            <a asp-area="Customers" asp-controller="Bookings" asp-action="Create" asp-route-id="@item.Value">
                <img src="~/images/restaurants/@(item.Text).jpg" style="width: 500px"/>
                <h2>@item.Text Restaurant</h2>
            </a>
        </div>
    }
</div>





