html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #4AA1B5;
    
}

footer {
    background-color: #CC9E09;
}

#calendar {
    background-color: #eaf4f4;
}
